# Install Libraries used to load datasets
# if you do not use Colab removes ! symbol

!pip install -U mne
!pip install -U moabb --no-deps
!pip install -U https://api.github.com/repos/braindecode/braindecode/zipball/master --no-deps
!pip install -U skorch

# Install some utils tf libraries 
!pip install tensorflow-addons